@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@using static BlazerTest.Components.Alert
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Antiforgery;
@attribute [RequireAntiforgeryToken]

@code {
	[CascadingParameter]
	private HttpContext? HttpContext { get; set; }
	private bool IsAuthenticated;
	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		IsAuthenticated = authState?.User?.Identity?.IsAuthenticated ?? false;
	}
	private async void Logout()
	{
		await HttpContext.SignOutAsync("BTAuth");
		NavigationManager.NavigateTo("/");

	}
}

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4">
			@if (!IsAuthenticated)
			{
				<NavLink href="/login" class="nav-link">ورود</NavLink>
			}
			else
			{
				<form @onsubmit="Logout" @formname="Logout" method="post">
					<AntiforgeryToken />
					<button class="btn ">خروج</button>
				</form>
				
			}
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>



