@page "/Env"
@using Application.IService
@inject IEnvironmentService _environmentService

<PageTitle>Env</PageTitle>

<h3>Environment Variable Test</h3>
<p>@testVariable</p>


@code {
	private string? testVariable;
	

	protected override void OnInitialized()
	{
		testVariable = _environmentService.GetTestVariable();

	}
}
