@page "/login"
@using Application.IService
@using Domain.Entites
@inject NavigationManager NavigationManager
@inject IUserService _userService


<PageTitle>صفحه ورود</PageTitle>

<div class="container mt-5">
	<h2>ورود به سیستم</h2>
	<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
		<DataAnnotationsValidator />
		<ValidationSummary />

		<div class="form-group">
			<label for="username"> شماره موبایل</label>
			<InputText id="username" class="form-control" @bind-Value="loginModel.MobileNumber" />
		</div>

		<div class="form-group">
			<label for="password">رمز عبور</label>
			<InputText id="password" type="password" class="form-control" @bind-Value="loginModel.Password" />
		</div>

		<button type="submit" class="btn btn-primary my-2">ورود</button>
		@* <button type="button" class="btn btn-secondary ms-2" @onclick="Logout">خروج</button> *@
	</EditForm>
</div>

@code {
	private LoginModel loginModel = new LoginModel();


	private async void HandleLogin()
	{
		User? user = (await _userService.FindByConditionAsync(w => w.MobileNumber == loginModel.MobileNumber ) ).FirstOrDefault();
		if(user is not User)


		NavigationManager.NavigateTo("/");
	}

	private void Logout()
	{
		// Implement your logout logic here
		// For demonstration, just navigating to login page
		NavigationManager.NavigateTo("/login");
	}

	public class LoginModel
	{
		public string MobileNumber { get; set; }
		public string Password { get; set; }
	}
}
